@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

body {
	background-color: #161325;
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
	transition: 1000ms;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
h3:hover{
	transition: 1000ms;
	color: #03BFCB;
}
h4 {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	transition: 1000ms;
	margin: 5px 0;
	text-transform: uppercase;
	margin-top: -1%;
}
h4:hover{
	transform: 1000ms;
	color: #03BFCB;
}
p {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-size: 15px;
	line-height: 21px;
	transition: 1000ms;
	margin-top: -1%;
}
p:hover{
	color: #03BFCB;
	transition: 1000ms;
}
span a{
	user-select: none;
	position: relative;
	top: -50px;
}
span a .gif{
	width: 100px;
}
.dev{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: #211a3d;
	border-radius: 10px;
	box-shadow: 0px 20px 60px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	position: relative;
	padding: 20px;
	width: 300px;
	text-align: center;
	max-width: 100%;
	top: -50px;
	transition: ease-in 1000ms;
}
.dev:hover{
	color: #03BFCB;
	transition: 1000ms;
}
.card-container {
	background-color: #1c182e;
	border-radius: 10px;
	box-shadow: 0px 20px 60px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
	transition: 1000ms;
}
.card-container .round {
    width: 30%;
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}
.card-container ul{
	margin:0;
	padding: 0;
	list-style: none;
}
.card-container ul li{
	text-align: center;
	display: inline;
}
.card-container img{
	width: 8%;
	transition: 1000ms;
}
.card-container .icon:hover{
	padding: 0.5%;
	transition: 1000ms;
}
.card-container .old {
	color: #231E39;
	background-color: #03BFCB;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
	transition: 1000ms;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.card-container .old:hover{
	left: 35px;
	transition: 1000ms;
	color: #ffffff;
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}